html
	head
		style.
			body { font-family: sans-serif; margin: 5% 0 30% 5%; }
			table { width: 100%; }
			td:first-child { width: 50px; }
			td:nth-child(2) { width: 20%; }
			.status-false { color: red; }
			.status-true { color: green; }
	body
		p Spoor enrichment pipeline status
		
		h2 Pipeline
		p The pipeline is the system that takes data from Spoor ingest stream, enriches it, then puts it in the Spoor egest stream. 
		table
			each pipe in pipeline
				tr
					td(class='status-'+pipe.status)= pipe.status
					td= pipe.flag
					td= pipe.description 
		
		h2 Filters
		p Each event can be filtered out for a number of reasons.
		table
			each filter in filters
				tr
					td(class='status-'+filter.status)= filter.status
					td= filter.flag
					td= filter.description 
		
		h2 Transforms 
		p Each event is enriched by a pipeline of transformations. 
		table
			each transform in transforms
				tr
					td(class='status-'+transform.status)= transform.status
					td= transform.flag
					td= transform.description 
		
		h2 Sinks 
		p Each event is pushed to a destination. 
		table
			each sink in sinks
				tr
					td(class='status-'+sink.status)= sink.status
					td= sink.flag
					td= sink.description 

		h2 Metrics 
		p Statistics on various parts of the pipeline. 
		table
			each metric in metrics
				tr
					td(class='status-'+metric.status)= metric.status
					td= metric.flag
					td= metric.description 

