html
	body
		p Spoor enrichment pipeline status
		
		h2 Pipeline
		p The pipeline is the system that takes data from Spoor ingest stream, enriches it, then puts it in the Spoor egest stream. 
		table
			each pipe in pipeline
				tr
					td= pipe.flag
					td(class='status-'+pipe.status)= pipe.status
		
		h2 Filters
		p Each event can be filtered out for a number of reasons.
		table
			each filter in filters
				tr
					td= filter.flag
					td(class='status-'+filter.status)= filter.status
		
		h2 Transforms 
		p Each event is enriched by a pipeline of transformations. 
		table
			each transform in transforms
				tr
					td= transform.flag
					td(class='status-'+transform.status)= transform.status
		
		
		h2 Sinks 
		p Each event is pushed to a destination (known as a sink - as in 'sink hole').
		table
			each sink in sinks
				tr
					td= sink.flag
					td(class='status-'+sink.status)= sink.status
